<!DOCTYPE html>
<html>
<head>
  <title>QboRails dummy app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) && name.to_s =~ /^(notice|alert)$/ %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
<script>
<%= yield :script %>
</script>
</html>
